<!DOCTYPE html>
<html>
<head>
    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv='expires' content='0'>
    <meta http-equiv='pragma' content='no-cache'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--  Use the Angular library  -->
    
    <title>Login</title>
    <link rel="shortcut icon" href="https://png.icons8.com/metro/1600/classroom.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/tonystar/bootstrap-float-label/v4.0.2/bootstrap-float-label.min.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">    



</head>
<body class="fondoGrey" ng-app="myApp" ng-controller="myCtrl">
    <div class="container" id="form-div">
        <div class="jumbotron margin-top3 shadowBox">
            <h1 class="text-center">Classroom Management</h1>
           
            <% if( auth != '' ){ %>
                <div style="display:none" class="alert alert-danger margin-top2 text-center" id="alerta" role="alert">
                    <%= auth %>
                </div>
            <% } %>   
          
            <form    class="margin-top3" id="formLogin"> 
                
                <div class="form-group">
                    <label class="has-float-label">
                        <td><input type="text"  class="form-control input100" ng-model="ldap.username" ng-disabled="type==='AD'" placeholder="Introduzca usuario" required></td>
                        
                        <span><i class="fas fa-user">Usuario</i></span>
                    </label>
                </div>
                <div class="form-group">
                    <label class="has-float-label">
                        <input type="password"  class="form-control input100"  ng-model="ldap.password" ng-disabled="type==='AD'" placeholder="Introduzca contraseña" required>
                        <span><i class="fas fa-key">Contraseña</i></span>
                    </label>
                </div>
                <button type="button" id="entrar" class="margin-top2 btn btn-primary" ng-disabled="type==='AD'"   ng-click="logonLDAP();">Entrar</button>
            </form>
            
            
        </div>
    </div>

  <!-- Modal -->
  <div id="myModal" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">¡Atención!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Ya puedes registrarte con tu usuario personal
        </div>
        
      </div>
    </div>
  </div>
  <br>

</body>

</html>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-sanitize.js"></script>
<script src="stylesheet" type="text/js" href="/js/modal.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script type="text/javascript">

    var myApp = angular.module("myApp", []);
    
    var scope;
    var auth = '';
    
    myApp.controller("myCtrl", function($scope, $http) {

        scope = $scope;  // Facilitate debugging
        
        $scope.type = "LDAP";
        $scope.ldap = {
            serverUrl: "ldap://192.168.3.8:389",
            suffix: "dc=centro,dc=com",		
            readerDN: "uid=joindomain,ou=usuarios,dc=centro,dc=com",
            readerPwd: "joindomain",               
        };        
        
        $scope.getGroups = false;
        
        $scope.response = "";
         
        $scope.log = (str) => {console.log(str);};
        
        $scope.logonLDAP = () => {
            var url = $scope.getGroups? "/ldapGrp" : "/ldap";
            $scope.response = "Please wait";		
            
            $http.post(url, JSON.stringify($scope.ldap)).then(
                (resp) => {$scope.response = resp.data;
                    window.location.href = "/logged";                   
                },
                (resp) => {$scope.response = "Error: " + JSON.stringify(resp); 
            
                }                    
            ); 
            
        };      
    });

// codigo modal
$( document ).ready(function() {
    $('#myModal').modal('toggle');

    $("#entrar").click(function(){
            console.log($("#form-div"));
            $("#alerta").show();
        });
});
</script>